// Theme 1
$bg1: #3a4663;
$text1: #434a59;
$screen1: #181f33;
$buttonField1: #242d44;
$primaryBtn1: #eae3dc;
$primaryBtnShadow1: #b3a497;
$primaryBtnHover1: #fffffe;
$secondaryBtn1: #647198;
$secondaryBtnShadow1: #414e73;
$secondaryBtnHover1: #a2b2e1;
$equalBtn1: #d03f2f;
$equalBtnShadow1: #93261a;
$equalBtnHover1: #f96b5b;

// Theme 2
$bg2: #e6e6e6;
$text2: #36362c;
$screen2: #eeeeee;
$buttonField2: #d2cdcd;
$primaryBtn2: #36362c;
$primaryBtnShadow2: #a79e91;
$primaryBtnHover2: #ffffff;
$secondaryBtn2: #378187;
$secondaryBtnShadow2: #1b6066;
$secondaryBtnHover2: #62b5bc;
$equalBtn2: #c85402;
$equalBtnShadow2: #873901;
$equalBtnHover2: #ff8a38;

// Theme 3
$bg3: #17062a;
$text3: #ffe53d;
$screen3: #1e0936;
$buttonField3: #1e0936;
$primaryBtn3: #331c4d;
$primaryBtnShadow3: #881c9e;
$primaryBtnHover3: #6c34ac;
$secondaryBtn3: #56077c;
$secondaryBtnShadow3: #be15f4;
$secondaryBtnHover3: #8631af;
$equalBtn3: #00ded0;
$equalBtnShadow3: #6cf9f1;
$equalBtnHover3: #93fff8;
